channels-redis==4.2.0
coverage==7.2.7
cython==3.0.9
daphne==4.0.0
dj-database-url==2.1.0
django-celery-beat==2.5.0
django-cors-headers==3.10.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.5.0
emoji==2.2.0
netaddr==0.8.0
pillow==9.4.0
pip-chill==1.0.3
pipenv==2023.2.4
psycopg2==2.9.5
pyopenssl==23.0.0
pyparsing==3.0.6
pysocks==1.7.1
python-dotenv==0.16.0
python-telegram-bot==13.14
selenium==4.8.0
service-identity==21.1.0
stripe==5.4.0
varint==1.0.2
virtualenvwrapper-win==1.2.7
firebase-admin==6.5.0
pyjwt[crypto]==2.8.0
